@model Contact

@{
Layout = "~/Views/Shared/_Layout.cshtml";
ViewBag.Title = "İletişim";
}

<div class="container mt-5 mb-5">
    <h3 class="text-center mb-4" style="font-weight: bold; font-size: 30px;">Bize Ulaşın</h3>
    <p class="text-center mb-5" style="color: #ef6c17">Sorularınızı iletmekten çekinmeyin. Size en kısa sürede geri dönüş yapacağız!</p>

    <div class="d-flex align-items-center justify-content-center">
        <div class="p-5 rounded" style="background-color: #18181c; width: 100%; max-width: 600px; border: 0.5px solid #3f3f46">
            <h3 class="text-center mb-4" style="font-weight: bold; font-size: 24px; color: #fff;">İletişim Formu</h3>
            <form asp-controller="Contact" asp-action="Index" method="post" >
                <div class="form-group mb-4">
                    <input name="username" class="form-control rounded-3 px-4 py-3 text-white" placeholder="Kullanıcı Adı" required style="background-color: #27272a; border: none; font-size: 16px;"/>
                </div>
                <div class="form-group mb-4">
                    <input name="email" type="email" class="form-control rounded-3 px-4 py-3 text-white" placeholder="E-posta Adresi" required style="background-color: #27272a; border: none; font-size: 16px;"/>
                </div>
                <div class="form-group mb-4">
                    <textarea name="message" class="form-control rounded-3 px-4 py-3 text-white" rows="5" placeholder="Mesajınız" required style="background-color: #27272a; border: none; font-size: 16px;"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn px-4 py-3 rounded-3 text-white" style="background-color: #27272a; border: none; font-size: 16px; transition: background-color 0.3s ease;">
                        Mesaj Gönder
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
