<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #0a0a0b; color: #fff; border-radius: 12px;">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold; font-size: 22px;">Yeni Kullanıcı Ekle</h5>
            </div>
            <div class="modal-body" style="padding: 20px;">
                <form asp-controller="User" asp-action="Index" method="post" style="font-size: 14px;">
                    <input type="hidden" name="role" value="Müşteri"/>
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-md text-white" id="username" name="username" placeholder="İsim giriniz" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control form-control-md text-white" id="email" name="email" placeholder="E-posta giriniz" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control form-control-md text-white" id="password" name="password" placeholder="Parola giriniz" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <input type="tel" class="form-control form-control-md text-white" id="phone" name="phone" placeholder="Telefon numarası giriniz" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>
                    <div class="mb-3">
                        <input type="date" class="form-control form-control-md text-white" id="birthday" name="birthday" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>

                    @if(ViewData["Error"] != null)
                    {
                    <div class="w-100 text-center mb-2" style="background-color: #371517; color: #fff; padding: 8px; border-radius: 2px; font-size: 14px; margin-top: 6px;">
                        @ViewData["Error"]
                    </div>
                    }

                    <div class="d-flex justify-content-start">
                        <button type="submit" class="px-3 py-2 rounded-3 d-flex align-items-center justify-content-center" style="font-size: 14px; cursor: pointer; background-color: #27272a; text-decoration: none; color: white; border: none;">
                            Ekle
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        var errorMessage = '@ViewData["Error"]';
        if (errorMessage !== '') {
            var modal = new bootstrap.Modal(document.getElementById("addUserModal"));
            modal.show();
        }
    });
</script>
