@{
ViewBag.Title = "Ana Sayfa";
ViewBag.HideHeader = false;
}

<div class="position-absolute top-0">
    
    <div id="restaurantSlider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active position-relative">
                <img src="~/images/hdburger.jpg" class="d-block w-100" alt="Slider 1">
                <div class="w-100 h-100 position-absolute top-0 bg-black opacity-75"></div>
            </div>
            <div class="carousel-item active position-relative">
                <img src="~/images/hdburger.jpg" class="d-block w-100" alt="Slider 1">
                <div class="w-100 h-100 position-absolute top-0 bg-black opacity-75"></div>
            </div>
            <div class="carousel-item active position-relative">
                <img src="~/images/hdburger.jpg" class="d-block w-100" alt="Slider 1">
                <div class="w-100 h-100 position-absolute top-0 bg-black opacity-75"></div>
            </div>
        </div>
    </div>
   
</div>

<!-- Bootstrap JS (gerekirse) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
