@model User

<div class="d-flex flex-column gap-3 p-3 rounded-3" style="background-color: #27272a; width: 700px;">
    <h5>Teslimat Adresim</h5>
    <div class="card border border-secondary p-2 rounded" style="width: 100%;  background-color: transparent;">
        <div class="d-flex gap-2 align-items-center font-weight-bold">
            <div style="margin-bottom: 16px;">
                <svg stroke="currentColor" fill="#ef6d16" stroke-width="0" viewBox="0 0 24 24" class="text-secondary" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 21H5C4.44772 21 4 20.5523 4 20V11L1 11L11.3273 1.6115C11.7087 1.26475 12.2913 1.26475 12.6727 1.6115L23 11L20 11V20C20 20.5523 19.5523 21 19 21ZM6 19H18V9.15745L12 3.7029L6 9.15745V19ZM8 15H16V17H8V15Z"></path>
                </svg>
            </div>
            <p style="font-size: 13px">Ev</p>
        </div>
        <div class="text-muted">
            <p style="font-size: 14px;">@Model.Address</p>
        </div>
    </div>
</div>