@model OrderInfo


<div style="background-color: #18181c; overflow: auto; height: calc(100vh - 82px); border-top: 0.5px solid #3f3f46;">
    <div style="width: 1000px; margin: auto;" class="py-5">


        <div class="d-flex flex-column gap-1.5">
            <h2 class="text-white">Alışverişi Tamamla</h2>
            <h6 class="d-flex align-items-center gap-2">
                <svg stroke="currentColor" fill="#2ec55d" stroke-width="0" viewBox="0 0 512 512" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M256 48C141.6 48 48 141.6 48 256s93.6 208 208 208 208-93.6 208-208S370.4 48 256 48zm-42.7 318.9L106.7 260.3l29.9-29.9 76.8 76.8 162.1-162.1 29.9 29.9-192.1 191.9z"></path>
                </svg>
                <span style="color: #2ec55d;">Güvenli Ödeme</span>
            </h6>
        </div>

        <div class="d-flex justify-content-between" style="margin-top: 20px;">


            <form asp-controller="Checkout" asp-action="Index" method="post" class="d-flex flex-column gap-3">
                @Html.Partial("AddressInfo", Model.User)

                <input type="hidden" name="address" value="@Model.User.Address"/>
                <input type="hidden" name="paymentMethod" id="payment-method" value="Kredi Kartı"/>

                <section class="p-4 rounded-md" style="background-color: #27272a; width: 700px;">
                    <h5 class="mb-2">Ödeme bilgileri</h5>

                    <div class="d-grid gap-2 mt-2">
                        @Html.Partial("CreditInfo", Model.Cart)
                    </div>

                    <button type="submit" class="px-4 py-1 rounded-2 mt-4" style="background-color: #ef6c17; color: white; border: none; text-decoration: none; width: 220px;">Ödeme Yap</button>
                </section>
            </form>

            @Html.Partial("SideInfo", Model.Cart)

        </div>
    </div>
</div>


@*<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("credit-card-btn").addEventListener("click", () => {
            const form = document.getElementById("card-form");
            form.style.display = form.style.display === "none" ? "block" : "none";
        });
    });

    const paymentMethodInput = document.getElementById('payment-method');

    const selectPaymentMethod = (method) => {
        paymentMethodInput.value = method;
        console.log('Selected payment method:', paymentMethodInput.value);
    };

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("credit-card-btn").addEventListener("click", () => {
            selectPaymentMethod('Kredi Kartı');
        });
    });
</script>*@