html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: black;
    color: white !important;
}

.navbar {
    border-bottom: none;
}

.navbar1 {
    background-color: #0a0a0b;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 250px;
    overflow-y: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid #3f3f46;
}


.navbar-nav .nav-item .nav-link1 {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
}

.navbar-nav .nav-item .nav-link1:hover {
    color: #fff;
    background-color: #ef6c17;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.nav-tabs {
    border-bottom: none;
}

.tab-content {
    border: none;
}

.nav-tabs {
    border-radius: 0.5rem;
    overflow: hidden;
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.nav-tabs .nav-link.active {
    background-color: #18181c !important;
    color: white;
}

.nav-link2 {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
}

.nav-link2.active {
    background-color: #ef6c17 !important;
    color: white !important;
    border: none;
}

.order-border {
    border: 0.5px solid #52525b;
    transition: border-color 0.3s;
}

.order-border:hover {
    border: 0.5px solid #c1c1c6;
}

.nav-link3 {
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;

}

.nav-link3:hover {
    background-color: #3f3f46;
    color: white;
}

.nav-link3.active {
    font-weight: bold;
    background-color: #3f3f46;
    color: white;
}

.product-card2 {
    border: 1px solid #27262b;

}

.product-card:hover .product-card2 {
    border: 0.5px solid white;
    transition: 0.2s ease-in-out;
}

.product-card:hover img {
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.form-control:focus {
    outline: 1px solid white;
    outline-offset: 2px;
    box-shadow: none;
}

.active {
    background-color: #ef6d16; /* Örnek arka plan rengi */
    color: #fff; /* Yazı rengi */
}


