@model Products

<h2 class="mb-4 text-black">Ürün Sil</h2>

<div class="text-black">
    <div>
        <h4 class="card-title">Bu ürünü silmek istediğinizden emin misiniz?</h4>
        <div class="mb-3">
            <h5>Ürün İsmi : @Model.Name</h5>
            <p>Ürün Açıklama : @Model.Description</p>
            <p class="font-weight-bold">Fiyat: @Model.Price ₺</p>
        </div>

        <form asp-controller="Products" asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id"/>
            <button type="submit" class="btn btn-danger me-2 btn-sm" style="width: 80px;">Sil</button>
            <a asp-action="Index" class="btn btn-secondary btn-sm" style="width: 80px;">İptal</a>
        </form>
    </div>
</div>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-4">
        @ViewBag.Error
    </div>
}