<div class="modal fade" id="addAdminModal" tabindex="-1" aria-labelledby="addAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #0a0a0b; color: #fff; border-radius: 12px;">
            <div class="modal-header">
                <h5 class="modal-title" style="font-weight: bold; font-size: 22px;">Yeni Yönetici Ekle</h5>
            </div>
            <div class="modal-body">
                @if(ViewData["Error"] != null)
                {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Error"]
                </div>
                }
                
                <form id="adminForm" asp-controller="Admins" asp-action="Index" method="post">
                    
                    <input type="hidden" value="Admin" name="role"/>
                    
                    <div class="mb-3">
                        <input name="userName" type="text" class="form-control text-white" id="userName" placeholder="İsim" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>

                    <div class="mb-3">
                        <input name="email" type="email" class="form-control text-white" id="email" placeholder="E-posta" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>

                    <div class="mb-3">
                        <input name="password" type="password" class="form-control text-white" id="password" placeholder="Şifre" style="background-color: #18181c; border: 0.5px solid #71717a; font-size: 15px; height: 45px;">
                    </div>
                    
                    <div>
                        <button type="submit" class="px-3 py-2 rounded-3 d-flex align-items-center justify-content-center" style="font-size: 14px; cursor: pointer; background-color: #27272a; text-decoration: none; color: white; border: none;">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

