@{
    ViewBag.HideHeader = false;
}

<div class="d-flex align-items-center justify-content-center flex-column gap-5" style="margin-top: 100px;">
    
    <div>
        <i class="bi bi-check-circle-fill" style="font-size: 220px; color: #0f5132"></i>
        <h4 class="text-center">İşlem Başarılı</h4>
    </div>

    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light" style="width: 150px;">Ana sayfaya dön</a>
</div>