@model Products


<ul class="nav nav-tabs mt-4 d-flex align-items-center gap-3 px-4 py-2 rounded-2" id="myTab" role="tablist" style="background-color: #3f3f46; width: 320px;">
    <li class="nav-item" role="presentation">
        <a class="nav-link text-white active" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">İncelemeler</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link text-white" id="questions-tab" data-bs-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">Soru & Cevap</a>
    </li>
</ul>